header{
background-color: darkgray;
font-size: large;
padding: 30px;
align-content: center;
}
h2{
background-color: darkgray;
font-size: larger;
padding: 30px;
align-self: center;
}
h3{
background-color: darkgray;
font-size: larger;
padding: 30px;
align-items: center;
}